<mat-card>

    <mat-toolbar color="primary">
        <span>Create course</span>
    </mat-toolbar>
  <mat-card-content>
    <form [formGroup]="form"><!-- Fazendo o databind da tag do forme com a váriavel 'form' que está no nosso component.ts, com isso os campos dentro da tag form vão fazer referência aos campos que temos dentro do grupo de formulários no TS -->
        <mat-form-field class="full-width">
            <input matInput placeholder="Nome" formControlName="name"> <!-- Usamos o formControlName para referênciar ao campo name no nosso formulário-->
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category">
            <mat-option value="null"> </mat-option>
            <mat-option value="front-end">Front-End</mat-option>
            <mat-option value="back-end">Back-End</mat-option>
          </mat-select><!-- Usamos o formControlName para referênciar ao campo category no nosso formulário-->
        </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
